@use "var" as *;

.btn {
    border: none;
    border-radius: 5px;
    background: $primaryOrange;
    padding: 12px 51px;
    font-size: 16px;
    color: $white;
    line-height: 150%;
    cursor: pointer;
    transition: .3s ease-out;

    &:active {
        transform: scale(1.1);
    }

    &_outline {
        border: 1px solid $primaryOrange;
        border-radius: 4px;
        padding: 6px 10px 5px 30px;
        background: url(../icons/ic-phone.svg) 5px center no-repeat;
        font-size: 12px;
        color: $primaryOrange;
    }

    &_outlineless {
        line-height: 157%;
        color: $dark;
        font-size: 14px;
        background: url(../icons/ic-user.svg) left center no-repeat;
        padding: 0 0 0 27px;
    }
}