*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FFFBED;
    line-height: 1.7;
    font-size: 14px;
    color: #000;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

